{% import "macros/index_macros.html" as index_macros %}
{% import "macros/post_macros.html" as post_macros %}

<!doctype html>
<html lang="{{ config.default_language | default(value="en") }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <meta name="description" content="{{ config.description }}">
    <link rel="stylesheet" href="{{ get_url(path="css/style.css") | safe }}">

    {% if config.generate_feeds %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml") | safe }}">
    {% endif %}

    <script src="{{ get_url(path='js/init-theme.js', trailing_slash=false) | safe }}"></script>
</head>

<body>
    {% block content %}
    {% endblock content %}

    <script src="{{ get_url(path='js/toggle-theme.js', trailing_slash=false) | safe }}"></script>
</body>
</html>
