{% extends "_base.html" %}
{% import "macros/index_macros.html" as index_macros %}
{% import "macros/post_macros.html" as post_macros %}

{% block content %}
  {% block header %}
    {{ index_macros::header(config=config) }}
  {% endblock header %}

  <main>
    {% block main %}
    <section class="latest-posts">
      <h1>Mathieu Leduc-Hamel's Latest Writing</h1>
      <div class="blog-list">
        {% set blog_section = get_section(path="blog/_index.md") %}
        {% for page in blog_section.pages | slice(end=10) %}
          <div class="blog-preview">
            <h3><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
            <time>{{ page.date | date(format="%B %e, %Y") }}</time>
            <p>{{ page.summary | default(value=page.content | striptags | truncate(length=160)) | safe }}</p>
          </div>
        {% endfor %}
      </div>

      <p><a href="{{ get_url(path='blog') }}" class="view-all">View all posts →</a></p>
    </section>
    {% endblock main %}
  </main>

  {% block footer %}
    {% include "partials/footer.html" %}
  {% endblock footer %}
{% endblock content %}
