{% extends "_base.html" %}
{% import "macros/index_macros.html" as index_macros %}
{% import "macros/post_macros.html" as post_macros %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block content %}
  {% block header %}
    {{ index_macros::header(config=config) }}
  {% endblock header %}

  <main>
    <article>
        <header class="article-header">
            <h1>{{ page.title }}</h1>
            {% if page.date or page.reading_time %}
            <div class="article-meta">
                {% if page.date %}
                <time datetime="{{ page.date }}">{{ page.date | date(format="%B %e, %Y") }}</time>
                {% endif %}
                {% if page.reading_time %}
                <span>· {{ page.reading_time }} min read</span>
                {% endif %}
            </div>
            {% endif %}
            {% if page.taxonomies.tags %}
            <div class="tag-list">
              {% for tag in page.taxonomies.tags %}
                <a href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}" class="tag-badge">#{{ tag }}</a>
              {% endfor %}
            </div>
            {% endif %}
        </header>

        {% if page.extra.toc | default(value=false) and page.toc %}
          {% include "partials/toc.html" %}
        {% endif %}

        <div class="article-content">
            {{ page.content | safe }}
        </div>
    </article>
  </main>

  {% block footer %}
    {% include "partials/footer.html" %}
  {% endblock footer %}
{% endblock content %}
